<html>
	<head>
		<title>VWF Test Page</title>
		[% IF twitter %]
			<meta name="twitter:site" content="@[% twitter %]">
			[% IF SiteTitle %]
				<meta name="twitter:title" content="[% SiteTitle.join(' ') %]">
			[% END %]
		[% END %]
	</head>
	<body>
		[% IF error %]
			<p><center><font color="red" size="+2">
				[% error %]
			</font></center></p>
		[% END %]
		To be done
	</body>
</html>
