<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html>
        <head>
		[% IF SiteTitle %]
                        <title>[% SiteTitle.join(' ') %]"></title>
                [% ELSE %]
                        <title>Log Test Page</title>
                [% END %]
                [% IF twitter %]
                        <meta name="twitter:site" content="@[% twitter %]">
                        [% IF SiteTitle %]
                                <meta name="twitter:title" content="[% SiteTitle.join(' ') %]">
                        [% END %]
                [% END %]
        </head>
        <body>
                [% IF error %]
                        <p><center><font color="red" size="+2">
                                [% error %]
                        </font></center></p>
                [% END %]
                To be done
        </body>
</html>
